@media (max-width: 480px) {
    main {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .picture {
        max-width: 20rem;
    }

    p {
        margin: 0;
    }

    .presentation {
        text-align: right;
        margin: 2.5rem 0rem;
    }

    .presentation__title {
        font-size: 20px;
    }

    .presentation__subtitle {
        font-size: 14px;
    }

    .social_media {
        margin: 2.5rem 0rem 0rem 0rem;
        text-align: center;
    }
}

@media (min-width: 480px) and (max-width: 1280px) {
    main {
        width: 100%;
        height: calc(100vh - 80px);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .picture {
        width: 20rem;
    }

    .presentation {
        text-align: right;
        margin: 0rem 5rem;
    }

    p {
        margin: 0;
    }

    .presentation__title {
        font-size: 30px;
        font-weight: 700;
    }

    .presentation__subtitle {
        font-size: 15px;
    }
}

@media (min-width: 1280px) {
    main {
        width: 100%;
        height: calc(100vh - 80px);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .picture {
        width: 25rem;
    }

    .presentation {
        text-align: right;
        margin: 0rem 5rem;
    }

    p {
        margin: 0;
    }

    .presentation__title {
        font-size: 40px;
        font-weight: 700;
    }

    .presentation__subtitle {
        font-size: 25px;
    }
}

@media (min-width: 1920px) {
    main {
        width: 100%;
        height: calc(100vh - 80px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .picture {
        width: 45rem;
    }

    .presentation {
        text-align: right;
        margin: 0rem 5rem;
    }

    p {
        margin: 0;
    }

    .presentation__title {
        font-size: 60px;
        font-weight: 700;
    }

    .presentation__subtitle {
        font-size: 40px;
    }
}

.presentation__title__contrast {
    color: var(--detail-color);
}

.presentation__subtitle__contrast {
    color: var(--primary-color);
}